footer{
  position: relative;
  top: 100px;
  background-color: $primary-color;
  height: 50px;
}

.footer__copy{
  padding-top: 14px;
}

.footer__copy--text{
  color: $white;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
}
