.full-content{
  margin: 90px auto 30px;
}

.full-content__content{
  text-align: center;
  max-width: 990px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size:22px;
  line-height: 34px;
}

@media screen and (max-width:320px){
  .full-content__content{
    font-size:20px;
    line-height: 32px;
  }
}

@media screen and (max-width:420px) {
  .full-content{
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
