header{
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all .2s;
}

.header-colour__primary{
  background-color: $primary-color;
}

.navbar-nav{
  display:inline-block;
  text-align: right;
}

.navbar-collapse{
  text-align: right;
  position: relative;
  top: 25px;
  transition: all .2s;
}

.menu-item{
  display: inline-block;
  margin-left: 27px;
  a{
    color: $white;
    transition: all .5s;
    text-transform: uppercase;
    &:hover{
      color: $secondary-color;
    }
  }
}

.header-logo{
  // position: relative;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition: all .2s;
  &::before{
    content: '';
    background-image:url('../img/band-logo.svg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 242px;
    height: 231px;
    display: block;
    transition: all .25s;
  }
  img{
    width: 176px;
    height: 123px;
    position: absolute;
    top: 33px;
    left: 48px;
    right: 33px;
    transition: all .2s;
  }
}

.header-logo__mobile{
  height: 100px;
  margin-top: 15px;
  img{
    width: 95px;
    height: 69px;
    transition: all .2s;
  }
}

.main-content{
  position: relative;
  top: 100px;
}

.scrolled{
  transition: all .2s;
  height: 75px;
  .header-logo{
    transition: all .2s;
    &:before{
      height: 145px;
      transition: all .25s;
    }
    img{
      height: 69px;
      left: 8px;
      top:15px;
    }
  }
  .navbar-collapse{
    text-align: right;
    position: relative;
    top: 15px;
    transition: all .2s;
  }
  .header-logo__mobile{
    img{
      height: 46px;
      transition: all .2s;
    }
  }
  .navbar-toggle{
    top: 0px;
    transition: all .2s;
  }
}

.navbar{
  jutify-content: flex-end !important;
}

.navbar-toggle{
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    top: 10px;
    outline: 0;
    transition: all .2s;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

@media screen and (min-width: 768px){
  .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
  }

}

@media only screen and (max-width: 768px){
//   .navbar-toggle[aria-expanded="true"]{
//
//   .navbar-toggle .icon-bar:nth-child(3) {
//     width: 40px;
//     margin-left: -10px;
//     -webkit-transition: all .3s ease-in;
//     -ms-transition: all .3s ease-in;
//     -moz-transition: all .3s ease-in;
//     transition: all .3s ease-in;
//   }
// }
//
// .navbar-toggle .icon-bar {
//     background-color: #fff;
//     width: 30px;
//     height: 3px;
//     &:focus{
//       outline: 0px !important;
//     }
//   }
//
//   .navbar-toggle .icon-bar+.icon-bar{
//     margin-top: 5px;
//   }
//
// .navbar-toggle .icon-bar:nth-child(3) {
//   width: 30px;
//   margin-left: -10px;
//   -webkit-transition: all .3s ease-in;
//   -ms-transition: all .3s ease-in;
//   -moz-transition: all .3s ease-in;
//   transition: all .3s ease-in;
// }

.navbar-toggle {
    .icon-bar {
        transition: 300ms ease-in-out;
        background-color: #fff;
        position: relative;
        width: 30px;
        height: 3px;
        margin-top: 5px;
    }
    .icon-bar:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -11px;
    }
    .icon-bar:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 4px;
    }
    .icon-bar:nth-child(3) {
        opacity: 0;
    }
    &.collapsed {
        .icon-bar {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            top: 0;
            opacity: 1;
            top: 5px;
            &:nth-child(3){
              width: 34px;
              margin-left: -4px;
            }
        }
    }
}

  #bs-example-navbar-collapse-1 {
    padding: 100px 30px 0 30px;
    z-index: -1;
    background-color: #0d2b5a;
    text-align: right;
    border: none;
    width: 100vw!important;
    position: absolute;
    right: 0;
    height: 0;
    opacity:0;
    transition: all .2s;
    visibility: hidden;
    outline:0;
  }

  #bs-example-navbar-collapse-1.show{
    opacity:1 !important;
    transition: all .2s;
    visibility: visible;
    height: 100vh;
  }

  .navbar-nav{
    display: block;
    .menu-item{
      display: block;
    }
  }

}

@media screen and (max-width: 874px){
  .scrolled .navbar-collapse{
    top: -25px;
  }
}
