.hero{
  height: 580px;
  background-size: cover;
  position: relative;
}

.hero__content{
  position: absolute;
  bottom: 100px;
  opacity: 0;
  animation:fadein 1.5s;
  animation-timing-function:linear;
  animation-delay:.5s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation:fadein 1.5s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:.5s;
  -webkit-animation-fill-mode: forwards;
}

.hero__content--title{
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: $tertiary-color;
  font-family: 'Cabin Condensed', sans-serif;
  letter-spacing: 5px;
  font-weight: 400;
  strong{
    color: $primary-color;
    font-weight: 400;
  }
}

.button{
  padding: 1em;
  cursor: pointer;
  background: $primary-color;
  text-decoration: none;
  text-transform: uppercase;
  color: $white !important;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: 'Cabin Condensed', sans-serif;
  letter-spacing: 2px;
}

/* Bubble Float Right */
.bubble-float-right {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.bubble-float-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: calc(50% - 10px);
  right: 5px;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $primary-color;
  transition-duration: 0.3s;
  transition-property: right;
}
.bubble-float-right:hover {
  transform: translateX(-5px);
}
.bubble-float-right:hover:before {
  right: -5px;
}

@media screen and (max-width: 420px){
  .hero{
    height: 360px;
  }
}

@media screen and (max-width: 1400px){
  .hero{
    background-position: 70%;
  }
}
