.linkboxes--icon{
  width: 45px;
  height: 45px;
  display:block;
  margin: auto;
}

.linkboxes--feature-image{
  max-width: 100%;
  width:390px;
  max-height: 390px;
  margin: 0;
  img{
    max-width: 390px;
    width:100%;
    max-height: 390px;
  }
}

.linkbox-content{
  height:390px;
  background-color: #EFF0F1;
}

.linkboxes--content{
  text-align: center;
  padding-top: 80px;
}

.linkboxes{
  margin-top: 30px;
  margin-bottom: 100px;
}

.linkbox--title{
  font-family: 'Cabin Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.linkbox--content{
  margin: auto;
  max-width: 290px;
  font-size: 18px;
  line-height: 30px;
  color: $body-font-color;
}

@media screen and (max-wdith: 768px){
  .linkbox--content{
    font-size: 14px;
  }
}


@media screen and (max-width: 420px){
  .linkbox{
    margin-bottom: 10px;
  }
  .linkboxes{
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .linkboxes--feature-image{
    max-width: 100vw;
    width: 100%;
    img{
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
